# APP_URL: The URL where the client application is hosted
APP_URL=http://localhost:5173

# Google OAuth Credentials for user login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# MongoDB Database Connection
MONGODB_URI=mongodb://127.0.0.1:27017/whiteboard

# Server Port
PORT=3000

# Vote-to-clear countdown duration in milliseconds
VOTE_CLEAR_DURATION_MS=15000
